<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<div class="container">
<h1>Add Event</h1>

<form th:action="@{/event/add}" method="post">

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="date">Date:</label><br>
    <input type="datetime-local" id="date" name="date" required><br><br>

    <label for="venueId">Venue:</label><br>
    <select id="venueId" name="venueId" required>
        <option value="">-- Choose venue --</option>
        <option th:each="v : ${venues}" 
                th:value="${v.venueid}" 
                th:text="${v.name}">
        </option>
    </select>
    <br><br>

    <label for="capacity">Capacity:</label><br>
    <input type="number" id="capacity" name="capacity" required><br><br>

    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-outline-secondary" th:href="@{/eventpage}">Back</a>
</form>

<div style="padding:5px">
    
</div>
</div>

</body>
</html>