<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <div class="container">
        <div style="display: flex; align-items: center; gap: 20px;">

            <a th:href="@{/}">Home</a>

            <p style="margin: 0;">
                Logged in:
                <span sec:authentication="name"></span>
            </p>

            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn btn-light">Logout</button>
            </form>

        </div>

        <h1>Events</h1>

        <div class="mb-3">
            <a th:href="@{'/event/add'}" class="btn btn-primary">
                Add New Event
            </a>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Tickets</th>
                    <th>Capacity</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.name}"></td>
                    <td th:text="${#temporals.format(event.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:utext="${event.venue.name + '<br>' + event.venue.address}"></td>
                    <td>
                        <ul>
                            <li th:each="cost : ${event.costs}">
                                <span th:text="${cost.type.name}"></span> -
                                <span th:text="${cost.price}"></span> €
                            </li>
                        </ul>
                    </td>
                    <td th:text="${event.capacity}"></td>
                    <td>
                        <a class="btn btn-sm btn-secondary" th:href="@{'/event/edit/' + ${event.eventid}}">
                            Edit
                        </a>

                        <form th:action="@{'/event/delete/' + ${event.eventid}}" method="post"
                            style="display:inline; margin-left:5px;">
                            <button type="submit" class="btn btn-sm btn-danger"
                                onclick="return confirm('Are you sure?');">Delete</button>
                        </form>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>