<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Event details</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

    <div class="container">
        <div style="display: flex; align-items: center; gap: 20px;">

            <a th:href="@{/}">Home</a>

            <p style="margin: 0;">
                Logged in:
                <span sec:authentication="name"></span>
            </p>

            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn btn-light">Logout</button>
            </form>

        </div>

        <h1>Event details for <span th:text="${event.name}"></span></h1>

        <div>
            <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Venue</th>
                    <th>Tickets</th>
                    <th>Capacity</th>
                    <th>Sold quantity</th>
                    <th>Total value</th>
                    <th>Tickets redeeemed</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td th:text="${event.name}"></td>
                    <td th:text="${#temporals.format(event.date, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:utext="${event.venue.name + '<br>' + event.venue.address}"></td>
                    <td>
                        <ul>
                            <li th:each="cost : ${costs}">
                                <span th:text="${cost}"></span>
                            </li>
                        </ul>
                    </td>
                    <td th:text="${event.capacity}"></td>
                    <td th:text="${event.totalTickets}"></td>
                    <td>
                        <span th:text="${totalPrice}"></span>€
                    </td>
                    <td th:text="${redeemedCount}">
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>All Tickets</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ticket Type</th>
                    <th>Price</th>
                    <th>Redeemed</th>
                    <th>Code</th>
                    <th>Sale</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="t : ${tickets}">
                    <td th:text="${t.ticketid}"></td>
                    <td th:text="${t.cost.type.name}"></td>
                    <td th:text="${t.price}"></td>
                    <td th:text="${t.redeemed}"></td>
                    <td th:text="${t.ticketCode}"></td>
                    <td>
                        <span th:text="|ID: ${t.sale.saleid}, Time: ${#temporals.format(t.sale.time, 'yyyy-MM-dd HH:mm')}, Seller: ${t.sale.user.username}, Type: |"></span>
                        <span th:if="${t.sale.doorSale}">Door</span>
                        <span th:if="${!t.sale.doorSale}">Normal</span>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

</body>

</html>