<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>TicketGuru</title>
</head>

<body class="container">
  <div style="display: flex; align-items: center; gap: 20px;">
    <p style="margin: 0;" sec:authorize="isAuthenticated()">
      Logged in:
      <span sec:authentication="name"></span>
    </p>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="margin: 0;">
      <button type="submit" class="btn btn-light">Logout</button>
    </form>
  </div>
  <h1>TicketGuru</h1>

  <p>Tevetuloa TicketGuruun, pääsylippusi pääsylippuihin!</p>

  </div>
  <div style="padding:5px">
    <a class="btn btn-info" th:href="@{/login}">Login</a>
    <span sec:authorize="isAuthenticated()">
      <a class="btn btn-info" th:href="@{/sell}">Sell Tickets</a>
      <a class="btn btn-info" th:href="@{/eventpage}">Events</a>
      <a class="btn btn-info" th:href="@{/venuepage}">Venues</a>
      <a class="btn btn-info" th:href="@{/tickettypepage}">Ticket types</a>
      <a class="btn btn-info" th:href="@{/costpage}">Costs</a>
      <a class="btn btn-info" th:href="@{/ticketpage}">Tickets</a>
      <a class="btn btn-info" th:href="@{/salepage}">Sales</a>
    </span>
    <span sec:authorize="hasAuthority('ADMIN')">
      <a class="btn btn-warning" th:href="@{/userpage}">Users</a>
    </span>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>

</body>