<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Add Sale</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="container">
        <h1>Add Sale</h1>

        <form th:action="@{/sale/add}" method="post">

            <label for="userId">User:</label><br>
            <select id="userId" name="userId" required>
                <option value="">-- Choose user --</option>
                <option th:each="u : ${users}" th:value="${u.userid}" th:text="${u.username}">
                </option>
            </select>
            <br><br>

            <label for="price">Price:</label><br>
            <input type="number" id="price" name="price" step="0.01" min="0" required>
            <br><br>
            
            <div>
                <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-outline-secondary" th:href="@{/salepage}">Back</a>
        </form>

    </div>

</body>

</html>