<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sell tickets</title>
</head>

<body style="margin:5px">
    <div class="container">
        <div style="display: flex; align-items: center; gap: 20px;">

            <a th:href="@{/}">Home</a>

            <p style="margin: 0;" sec:authorize="isAuthenticated()">
                Logged in:
                <span sec:authentication="name"></span>
            </p>

            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn btn-light">Logout</button>
            </form>

        </div>

        <h1>Sell tickets</h1>

        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
        <div th:each="event : ${events}">
            <table class="table table-bordered" style="table-layout: fixed; width: 100%">
                <tr>
                    <td>Event: <span th:text="${event.name}"></span></td>
                    <td>Venue: <span th:text="${event.venue.name}"></span></td>
                    <td>Date: <span th:text="${#temporals.format(event.date, 'yyyy-MM-dd HH:mm')}"></span></td>
                    <td>Capacity: <span th:text="${event.capacity}"></span></td>

                    <td>
                        Sold: <span th:if="${event.totalTickets != null}" th:text="${event.totalTickets}"></span>
                    </td>
                </tr>
            </table>
            <table class="table table-bordered" style="table-layout: fixed; width: 100%">
                <tr>
                    <th>Type</th>
                    <th>Price</th>
                    <th>ID</th>
                    <th>Quantity</th>
                </tr>
                <div th:each="cost : ${costs}" class="table table-bordered">
                    <tr th:if="${cost.event.eventid == event.eventid}">
                        <td>Type: <span th:text="${cost.type.name}"></span></td>
                        <td>Price: <span th:text="${cost.price}"></span></td>
                        <td>ID: <span th:text="${cost.costid}"></span></td>
                        <td><input type="number" th:id="|amount-${cost.costid}" />
                            <button style="margin-left: 10px;" class="btn btn-primary"
                                th:onClick="|addTicket(${cost.costid}, document.getElementById('amount-${cost.costid}').value)|">Add</button>
                        </td>
                    </tr>
                </div>
            </table>
        </div>

        <div class="mb-3">
            <a id="saleLink" class="btn btn-primary" href="">Create Sale</a>
            <a id="doorSaleLink" class="btn btn-primary" href="">Create Door Sale</a>
        </div>
        <div style="margin:5px">
            <input type="text" id="saleId" />
            <a class="btn btn-primary" href="#"
                onClick="this.href='/sell/sale?id=' + encodeURIComponent(document.getElementById('saleId').value)">Get Sale</a>
            <div style="margin:5px" th:if="${checkedSale}">
                <h1>Sivulla on checkedSale</h1>
            </div>
        </div>
        <div style="margin:5px">
            <input type="text" id="doorCheck" />
            <a class="btn btn-primary" href="#"
                onClick="this.href='/sale/check/door?saleid=' + encodeURIComponent(document.getElementById('doorCheck').value)">Check
                Door Sale</a>
            <div style="margin:5px" th:if="${checkedSale}">
                <h1>Sivulla on checkedSale</h1>
            </div>
        </div>
        <div>
            <input type="text" id="codeCheck" />
            <a class="btn btn-primary" href="#"
                onClick="this.href='/ticket/check?code=' + encodeURIComponent(document.getElementById('codeCheck').value)">Redeem
                ticket</a>
            <div style="margin:5px" th:if="${redeemedTicket}">
                <h1>Sivulla on redeemedTicket</h1>
            </div>
        </div>

        <div id="addStatus"></div>
        <div id="addResult"></div>
        <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></div>
        <div th:if="${sale != null}">
            <table class="table table-bordered">
                <tr>
                    <td>Sale: <span th:text="${sale.saleid}"></span></td>
                    <td>Time: <span th:text="${sale.time}"></span></td>
                    <td>Price: <span th:text="${sale.price}"></span> </td>
                    <td>Seller: <span th:text="${sale.user.username}"></span></td>
                    <td><a id="doorSaleLink" class="btn btn-warning" th:href="|/sell/delete/${sale.saleid}">Delete</a></td>
                    <td th:if="${sale.doorSale}"><a id="doorSaleLink" class="btn btn-warning" th:href="|/sale/check/door?saleid=${sale.saleid}">Check Doorsale</a></td>
                </tr>
            </table>
            <ul th:each="ticket: ${tickets}">
                <li>Event: <span th:text="${ticket.cost.event.name}"></span></li>
                <li>Type: <span th:text="${ticket.cost.type.name}"></span></li>
                <li>Time: <span th:text="${ticket.cost.event.date}"></span></li>
                <li>Price: <span th:text="${ticket.cost.price}"></span></li>
                <li>Code: <span th:text="${ticket.ticketCode}"></span></li>
                <img th:src="@{'https://ticket-guru-ticketguru-postgres.2.rahtiapp.fi/qr/' + ${ticket.ticketCode}}">
            </ul>
        </div>

        <script>
            let tickets = [];

            function addTicket(id, number) {
                let status = document.getElementById("addStatus");
                let result = document.getElementById("addResult");
                let link = document.getElementById("saleLink");
                let doorLink = document.getElementById("doorSaleLink");
                let params = "?tickets=";
                status.value = "";
                if (!Number.isInteger(Number(number)) || number <= 0) {
                    status.innerHTML = "Quantity has to be a positive integer"
                    return;
                }
                tickets.push([id, number]);
                tickets.forEach(ticket => {
                    params = `${params}${ticket[0]}:${ticket[1]},`
                })

                let formatted = "Tickets: "
                for (let i = 0; i < tickets.length; i++) {
                    formatted += `<li>Ticket${i + 1} - id: ${id}, amount: ${number}</li>`;
                }
                status.innerHTML = "";
                result.innerHTML = `<ul>${formatted}</ul>`;
                link.setAttribute("href", params);
                doorLink.setAttribute("href", `/sell/doorSale${params}`)

            }

        </script>
</body>


</html>