<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Sell tickets</title>
</head>

<body style="margin:5px">
    <div>
        <a th:href="@{/}">Home</a>

        <h1>Sell tickets</h1>

        <p sec:authorize="isAuthenticated()">
            Kirjautuneena sisään:
            <span sec:authentication="name"></span>
        </p>

        <div>
            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>

        <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
        <div th:each="event : ${events}">
            <h2>
                Event: <span th:text="${event.name}"></span>,
                Venue: <span th:text="${event.venue.name}"></span>,
                Date: <span th:text="${event.date}"></span>
            </h2>
            <div th:each="cost : ${costs}">

                <h4 th:if="${cost.event.eventid == event.eventid}">
                    Type: <span th:text="${cost.type.name}"></span>,
                    Price: <span th:text="${cost.price}"></span>,
                    ID: <span th:text="${cost.costid}"></span>
                    <input type="number" th:id="|amount-${cost.costid}" />
                    <button
                        th:onClick="|addTicket(${cost.costid}, document.getElementById('amount-${cost.costid}').value)|">Add</button>
                </h4>
            </div>
        </div>
        <a id="saleLink" class="btn btn-primary" href="">Create Sale</a>
        Test Buttons:
        <a id="saleLink" class="btn btn-primary" href="?tickets=">Empty param</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2:5,3:2,1:2">Normal Format</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2:5,3:2,1">Missing last</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=9999:5,asdf:2,1:4">Wrong ID</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2:5,asdf:2,1:4">ID String</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2:5,3:4fdsa,1:3">Quantity String</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2:53:2,1:2">Wrong format</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2.1:5,3:2,1:10">ID decimal</a>
        <a id="saleLink" class="btn btn-primary" href="?tickets=2:5.5,3:2,1:10">Quantity decimal</a>

        <div id="addStatus"></div>
        <div id="addResult"></div>
        <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></div>
        <div th:if="${sale != null}">
            <h3>Sale: <span th:text="${sale.saleid}"></span>, Time: <span th:text="${sale.time}"></span>, Price: <span
                    th:text="${sale.price}"></span>, Seller: <span th:text="${sale.user.username}"></span></h3>
            <ul th:each="ticket: ${tickets}">
                <li>Event: <span th:text="${ticket.cost.event.name}"></span></li>
                <li>Type: <span th:text="${ticket.cost.type.name}"></span></li>
                <li>Time: <span th:text="${ticket.cost.event.date}"></span></li>
                <li>Price: <span th:text="${ticket.cost.price}"></span></li>
                <li>Code: <span th:text="${ticket.ticketCode}"></span></li>
                <img th:src="@{'https://ticket-guru-ticketguru-postgres.2.rahtiapp.fi/qr/' + ${ticket.ticketCode}}">
            </ul>
        </div>

        <script>
            let tickets = [];

            function addTicket(id, number) {
                let status = document.getElementById("addStatus");
                let result = document.getElementById("addResult");
                let link = document.getElementById("saleLink");
                let params = "?tickets=";
                status.value = "";
                if (!Number.isInteger(Number(number)) || number <= 0) {
                    status.innerHTML = "Quantity has to be a positive integer"
                    return;
                }
                tickets.push([id, number]);
                tickets.forEach(ticket => {
                    params = `${params}${ticket[0]}:${ticket[1]},`
                })

                let formatted = "Tickets: "
                for (let i = 0; i < tickets.length; i++) {
                    formatted += `Ticket${i + 1} - id: ${id}, amount: ${number}`;
                }
                status.innerHTML = "";
                result.innerHTML = formatted;
                link.setAttribute("href", params);
            }

        </script>
</body>


</html>