<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Edit Ticket</title>
</head>

<body>
    <div class="container">

        <a th:href="@{/ticketpage}">Back</a>
        <h1>Edit Ticket</h1>

        <form th:action="@{'/ticket/edit/' + ${ticket.ticketid}}" th:object="${ticket}" method="post">

                <label>Event:</label>
                <select name="selectedEventId" th:field="*{selectedEventId}"
                    onchange="window.location.href='?eventId=' + this.value">
                    <option th:each="e : ${events}" th:value="${e.eventid}" th:text="${e.name}"
                        th:selected="${ticket.selectedEventId == e.eventid}">
                    </option>
                </select> <br><br>

                <label>Cost:</label>
                <select name="costId">
                    <option th:each="c : ${costs}" th:value="${c.costid}"
                        th:text="${c.type.name} + ' (' + ${c.price} + '€)'"
                        th:selected="${ticket.cost != null and ticket.cost.costid == c.costid}">
                    </option>
                </select> <br><br>

            <button type="submit">Save</button>
        </form>
        <a th:href="@{/venuepage}">Back</a>

    </div>
</body>

</html>