<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Ticket</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">

        <h1>Add New Ticket</h1>

        <form th:action="@{/ticket/add}" method="post">
            <label>Event:</label>
            <select name="selectedEventId" onchange="window.location.href='?eventId=' + this.value">
                <option th:each="e : ${events}" th:value="${e.eventid}" th:text="${e.name}"
                    th:selected="${ticket.selectedEventId == e.eventid}">
                </option>
            </select> <br><br>

            <label>Cost:</label>
            <select name="costId">
                <option th:each="c : ${costs}" th:value="${c.costid}"
                    th:text="${c.type.name} + ' (' + ${c.price} + '€)'">
                </option>
            </select> <br><br>
            <label>Sale:</label>
            <select name="saleId">
                <option th:each="sale : ${sales}" th:value="${sale.saleid}"
                    th:text="${#temporals.format(sale.time, 'yyyy-MM-dd HH:mm:ss') + ' - '+ sale.user.username} + ' (' + ${sale.price} + '€)'">
                </option>
            </select> <br><br>

            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-outline-secondary" th:href="@{/ticketpage}">Back</a>
        </form>

    </div>
</body>

</html>