<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title>Tickets</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="container">

        <div style="display: flex; align-items: center; gap: 20px;">

            <a th:href="@{/}">Home</a>

            <p style="margin: 0;">
                Logged in:
                <span sec:authentication="name"></span>
            </p>

            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn btn-light">Logout</button>
            </form>

        </div>
        <h1>Tickets</h1>
        <div class="mb-3">
            <a class="btn btn-primary" th:href="@{/ticket/add}">
                Add Ticket
            </a>
        </div>
        <div>
            <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Event</th>
                    <th>Ticket Type</th>
                    <th>Price</th>
                    <th>Redeemed</th>
                    <th>Code</th>
                    <th>Sale</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="t : ${tickets}">
                    <td th:text="${t.ticketid}"></td>
                    <td th:text="${t.cost.event.name}"></td>
                    <td th:text="${t.cost.type.name}"></td>
                    <td th:text="${t.cost.price}"></td>
                    <td th:text="${t.redeemed}"></td>
                    <td th:text="${t.ticketCode}"></td>
                    <td th:text="|ID: ${t.sale.saleid}, Time: ${#temporals.format(t.sale.time, 'yyyy-MM-dd HH:mm')}, Seller: ${t.sale.user.username}|"></td>
                    <td>
                        <a class="btn btn-sm btn-secondary" th:href="@{'/ticket/edit/' + ${t.ticketid}}">
                            Edit
                        </a>

                        <form th:action="@{'/ticket/delete/' + ${t.ticketid}}" method="post"
                            style="display:inline; margin-left:5px;">
                            <button type="submit" class="btn btn-sm btn-danger"
                                onclick="return confirm('Are you sure?')">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>


</body>

</html>