<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title th:text="${title}">Edit User</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <div class="container">
        <h1 th:text="${title}"></h1>

        <form th:action="@{${item.userid != null} ? '/user/edit/' + ${item.userid} : '/user/add'}" method="post">
            <label>Username:</label>
            <input type="text" name="username" th:value="${item.username}" required><br><br>

            <label>Firstname:</label>
            <input type="text" name="firstname" th:value="${item.firstname}" required><br><br>

            <label>Lastname:</label>
            <input type="text" name="lastname" th:value="${item.lastname}" required><br><br>

            <label for="userRole">Role:</label>
            <select id="userRole" name="userRole" required>
                <option value="">-- Choose user role --</option>
                <option value="USER" th:selected="${item.userRole == 'USER'}">User</option>
                <option value="ADMIN" th:selected="${item.userRole == 'ADMIN'}">Admin</option>
            </select><br><br>

            <label>Password:</label>
            <input type="password" name="passwordHash" th:value="${item.passwordHash}" th:if="${item.userid == null}"
                required><br><br>

            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-outline-secondary" th:href="@{/userpage}">Back</a>
        </form>

    </div>
</body>

</html>