<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title th:text="${title}">Add User</title>
</head>

<body>
    <div class="container">
        <h1 th:text="${title}">Add User</h1>

        <form th:action="@{/user/add}" th:object="${user}" method="post">
            <label for="username">Username:</label><br>
            <input type="text" th:field="*{username}" required><br><br>

            <label for="firstname">Firstname:</label><br>
            <input type="text" th:field="*{firstname}" required><br><br>

            <label for="lastname">Lastname:</label><br>
            <input type="text" th:field="*{Lastname}" required><br><br>

            <label for="userRole">Role:</label><br>
            <select id="userRole" name="userRole" required>
                <option value="">-- Choose user role --</option>
                <option value="USER">User</option>
                <option value="ADMIN">Admin</option>
                <option value="TICKETCHECK">Ticket checker</option>
            </select><br><br>

            <label for="passwordHash">Password:</label><br>
            <input type="password" th:field="*{passwordHash}" required><br><br>

            <div>
                <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-outline-secondary" th:href="@{/userpage}">Back</a>
        </form>

    </div>
</body>

</html>