<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Edit User</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
<h1 th:text="${title}"></h1>

<form th:action="@{${item.userid != null} ? '/user/edit/' + ${item.userid} : '/user/add'}" method="post">
    <label>Username:</label>
    <input type="text" name="username" th:value="${item.username}" required><br><br>

    <label>Firstname:</label>
    <input type="text" name="firstname" th:value="${item.firstname}" required><br><br>

    <label>Lastname:</label>
    <input type="text" name="lastname" th:value="${item.lastname}" required><br><br>

    <label>Role:</label>
    <input type="text" name="userRole" th:value="${item.userRole}" required><br><br>

    <label>Password:</label>
    <input type="password" name="passwordHash" th:value="${item.passwordHash}" th:if="${item.userid == null}" required><br><br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/userpage}">Back</a>

</body>
</html>