<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>

<body>
    <a th:href="@{/}">Home</a>
<h1>Users</h1>
<p>
    Kirjautuneena sisään:
    <span sec:authentication="name"></span>
</p>

<form th:action="@{/logout}" method="post" style="margin-bottom: 20px">
    <button type="submit">Logout</button>
</form>

<table border="1" cellpadding="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Role</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.userid}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.firstname}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.userRole}"></td>
        <td>
            <a th:href="@{'/user/edit/' + ${user.userid}}">
                <button>Edit</button>
            </a>
        </td>
        <td>
            <form th:action="@{'/user/delete/' + ${user.userid}}" method="post">
                <button type="submit" onclick="return confirm('Are you sure?');">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<div style="margin-top: 10px;">
    <a th:href="@{'/user/add'}">
        <button>Add New User</button>
    </a>
</div>

</body>
</html>