<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta charset="UTF-8">
    <title th:text="${title}">Add Venue</title>
</head>
<body>
    <div class="container">
<h1 th:text="${title}">Add Venue</h1>

<form th:action="@{/venue/add}" th:object="${venue}" method="post">
    <label for="name">Name:</label><br>
    <input type="text" th:field="*{name}" required><br><br>

    <label for="address">Address:</label><br>
    <input type="text" th:field="*{address}" required><br><br>

    <button type="submit">Save</button>
</form>

<a th:href="@{/venuepage}">Back</a>
</div>
</body>
</html>